.boton-1,
.boton-form {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    border: solid 1px var(--color-blue);
    background-color: transparent;
    box-shadow: -6px 4px 10px var(--shadow-black);
    transition: all 0.3s ease-in-out;
    color: var(--color-blue);
    border-radius: 10px;
    font-size: 16px;
    gap: 10px;
    padding: 20px 40px;
}

.boton-form {
    border: none;
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 20px 0px;
    width: 293px;
}

.boton-icono {
    color: var(--color-white);
    width: 16px;
    height: 16px;
}

@media (min-width: 1200px) {
    .boton-1:hover,
    .boton-2:hover {
        background: var(--color-gray);
    }

    .boton-1:active,
    .boton-2:active,
    .boton-form:active {
        transform: scale(0.9);
    }

    .boton-form {
        width: 440px;
    }
}

@media (min-width: 1400px) {
    .boton-form {
        width: 540px;
    }
}
