/* react-phone-input-2 sobreescritura */
.react-tel-input {
    width: 100%;
    margin-bottom: 15px;
    font-family: inherit;
}

/* input */
.react-tel-input .form-control {
    border-radius: 5px;
    padding: 6px 16px;
    padding-left: 50px;
    background-color: var(--color-gray);
    color: var(--color-black);
    border: solid 1px var(--color-silver);
    font-size: 16px;
    width: 100%;
    height: 31px;
    box-sizing: border-box;
}

/* placeholder */
.react-tel-input .form-control::placeholder {
    color: var(--color-silver);
    font-size: 13px;
}

/* Bandera container */

.react-tel-input .flag-dropdown {
    background: var(--color-gray);
    border: none;
    border-top: solid 1px var(--color-silver);
    border-bottom: solid 1px var(--color-silver);
    border-left: solid 1px var(--color-silver);
    height: 31px;
    display: flex;
    align-items: end;
    box-shadow: none;
}

.react-tel-input .flag-dropdown:focus-within {
    border-color: var(--color-red);
}

/* Bandera */

.react-tel-input .selected-flag {
    display: flex;
    align-items: start;
    height: 100%;
}

.react-tel-input .selected-flag:focus {
    background-color: var(--color-white);
}

.react-tel-input .selected-flag:hover,
.react-tel-input .flag-dropdown:hover {
    border-radius: 5px 0 0 5px;
}

.react-tel-input .flag-dropdown.open {
    border-radius: 5px 0 0 5px;
    background: var(--color-white);
}

.react-tel-input .flag-dropdown.open .selected-flag {
    background: var(--color-white);
    border-radius: 5px 0 0 5px;
}

/* lista desplegable */
.react-tel-input .country-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border: solid 1px var(--color-silver);
    z-index: 9999;
    outline: none;
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0px 0px -1px -1px;
    box-shadow: none;
    background-color: var(--color-white);
    width: 293px;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 5px 5px 5px 5px;
}

.react-tel-input .search-emoji {
    display: none;
}

.react-tel-input .country-list .search {
    background-color: var(--color-white);
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 6px 8px;
}

.react-tel-input .country-list .search-box {
    width: 100%;
    margin-left: 0px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Cada país en la lista */
.react-tel-input .country-list .country.highlight {
    background-color: var(--color-white);
}

.react-tel-input .country-list .country {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: var(--color-black);
    width: 100%;
    font-family: 'alliance-text', sans-serif;
}

.react-tel-input .country-list .country .dial-code {
    color: var(--color-black);
}

/* Ocultar bandera y dropdown al inicio */
.phone-hidden .flag-dropdown {
    opacity: 0;
    pointer-events: none;
}

.flag-dropdown {
    transition: opacity 0.2s ease;
}

/* Hacer que el input tenga placeholder normal */
.phone-hidden input {
    padding-left: 10px !important;
    padding-bottom: 10px !important;
}

/* Al hacer focus, mostrar la bandera */
.phone-visible .flag-dropdown {
    opacity: 1;
    pointer-events: auto;
}

@media (min-width: 1200px) {
    .react-tel-input .country-list {
        width: 440px;
    }
}

@media (min-width: 1400px) {
    .react-tel-input .form-control {
        font-size: 18px;
        height: 38px;
    }

    .react-tel-input .flag-dropdown {
        height: 38px;
    }

    .react-tel-input .country-list {
        width: 540px;
    }

    .react-tel-input .country-list .search-box {
        font-size: 18px;
    }

    .react-tel-input .country-list .country {
        font-size: 18px;
    }

    .react-tel-input .form-control::placeholder {
        font-size: 16px;
    }
}
